.board {
  outline: 2px solid rgb(134, 154, 189);
  background: linear-gradient(rgb(170, 236, 170), rgb(167, 236, 199));
  border-radius: 3px;
  /* display: grid; */
}

.row {
  height: 35px;
}

.cell {
  width: 35px;
  height: 35px;
  /* outline: 1px solid rgb(134, 154, 189); */
  display: inline-block;
}

.cell-green {
  /* background: linear-gradient(rgb(240, 124, 124), rgb(228, 228, 129)); */
  background: linear-gradient(#827cf0, rgb(129, 228, 225));
  outline: 2px solid rgb(0, 0, 0); 
  border-radius: 10px;
}

.cell-red {
  background-color: red;
  border-radius: 100px;
}

.cell-purple {
  background-color: purple;
  border-radius: 100px;
}
